{
    "parser": "@typescript-eslint/parser",
    "extends" : ["plugin:@typescript-eslint/recommended"],
    "parserOptions" : {"ecamVersion" : 2018 , "sourceType": "module"},
    "rules": {
          "semi": ["error" ,"always"],
          "simple-import-sort/imports" : "error",
          "simple-import-sort/exports" : "error",
          "no-unused-vars" : ["off" , {
             "vars": "off",
             "args" : "off",
             "caughtErrors": "off",
             "ignoreRestSiblings" : false,
             "reportUsedIgnorePattern" : false
          }]
    },
    "plugins": ["simple-import-sort"]
}